.portfolio {
  box-sizing: border-box;
}

.portfolio__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio__lists {
  padding: 0;
  color: #eee;
  list-style: none;
  outline: none;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
}

.portfolio__list {
  margin: 0 15px 15px;
  transition: all .4s;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
}

.portfolio__list:first-child {
  color: #ffb400;
}

.portfolio__list:hover {
  color: #ffb400;
  cursor: pointer;
}

.portfolio__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 20px;
  justify-content: center;
  margin: 40px 0 0 0;
}

