.form {
  width: 770px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 60px;
  box-sizing: border-box;

  @media screen and (max-width: 990px) {
    margin: 0 20px;
    width: 100%;
  }
}

.form__input {
  box-sizing: border-box;
  background: #252525;
  border: 1px solid #111;
  border-radius: 30px;
  color: #fff;
  padding: 11px 26px;
  height: 48px;
  width: 352px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.6;

  &:first-child {
    margin: 0 65px 0 0;
  }

  &:nth-child(3) {
    width: 100%;
  }

  &:hover {
    border: 1px solid #ffb400;
  }

  @media screen and (max-width: 1225px){
    width: 100%;
    margin: 0 0 30px 0;
    &:first-child {
      margin: 0 0 30px 0;
    }
  }

}


.form__textarea {
  background: #252525;
  border: 1px solid #111;
  border-radius: 30px;
  color: #fff;
  height: 200px;
  width: 100%;
  padding: 12px 26px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.6;

  &:hover {
    border: 1px solid #ffb400;
  }
}
